{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-3xl text-center">Analyze your Messenger conversations!</h2>

        <div class="flex items-center justify-center">
            <a href="{% url 'analysis:index' %}" class="px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">Analyze</a>
        </div>

        <div class="mt-12">
            {% include "core/info.html" %}
        </div>
    </div>

{% endblock %}