{% load static %}
<div class="content-center text-center items-center justify-center">  
  <div>
    <h2 id="how-to-download-facebook-messages-data" class="text-3xl font-semibold">How to download Facebook Messages Data</h2>
    <div class="mt-6">
      <p>
        Visit <a href="https://accountscenter.facebook.com/info_and_permissions/dyi" target="_blank" class="text-blue-500">https://accountscenter.facebook.com/info_and_permissions/dyi</a> and log in to your Facebook account if required. Click "Download or transfer information" then "Specific types of information"
      </p>
      <div class="flex justify-center items-center pt-2 space-x-4">
        <img src="{% static 'img/dlfb1.JPG' %}" alt="alt text" class="h-96" />
        <img src="{% static 'img/dlfb2.JPG' %}" alt="alt text" class="h-96" />
      </div>
    </div>
    <div class="mt-6">
      <p>
        In the next screen, only check the "Messages" box and click "Next". Then select "Download to device" and click "Next" again.    
      </p>
      <div class="flex justify-center items-center pt-2 space-x-4">
        <img src="{% static 'img/dlfb3.JPG' %}" alt="alt text" class="h-96"/>
        <img src="{% static 'img/dlfb4.JPG' %}" alt="alt text" class="h-96"/>
      </div>
    </div>
    <div class="mt-6">
      <p>
        Choose your date range, enter the e-mail address you wish to be notified at, set the format to JSON, and set the media quality to low (allows for fast download as we don&#39;t access the media files).
      </p>
      <div class="flex justify-center items-center pt-2">
        <img src="{% static 'img/dlfb5.JPG' %}" alt="alt text" class="h-96"/>
      </div>
      <p>
        After the download is ready, you will be notified. Download the zip file. The data is now ready to be fed to the program!
      </p>
    </div>
  </div>


  <div class="mt-12">
    <h2 id="available-visualizations" class="text-3xl font-semibold">Available Visualizations</h2>
    <h3 id="top-10-n-most-messaged" class="mt-6 text-xl">Top 10 (n) Most Messaged</h3>
    <p>
      Identifies who you have exchanged the most messages with
    </p>
    <div class="flex justify-center items-center pt-2 space-x-4">
      <img src="{% static 'img/topn.png' %}" alt="alt text" />
    </div>
    <h3 id="messages-over-time-sent-and-received-" class="mt-6 text-xl">Messages over time (sent and received)</h3>
    <p>
      Shows activity over time. May be able to identify cyclical patterns or trends. Can also see the effect of certain events on your messaging habits (e.g. Do I talk to more people during a global pandemic?)
    </p>
    <div class="flex justify-center items-center pt-2 space-x-4">
      <img src="{% static 'img/msg_v_time.PNG' %}" alt="alt text" />
    </div>
    <h3 id="messages-over-time-with-a-specific-contact-sent-and-received-" class="mt-6 text-xl">Messages over time with a specific contact (sent and received)</h3>
    <p>
      Similar to above.
    </p>
    <div class="flex justify-center items-center pt-2 space-x-4">
      <img src="{% static 'img/msg_v_time_contact.png' %}" alt="alt text" />
    </div>
    <h3 id="hourly-distribution-of-sent-messages" class="mt-6 text-xl">Hourly Distribution of sent messages</h3>
    <p>
      Provides information on when you are most likely to reply. Can be used to identify unhealthy patterns or habits.
    </p>
    <div class="flex justify-center items-center pt-2 space-x-4">
      <img src="{% static 'img/msg_dist.JPG' %}" alt="alt text" />
    </div>
    <h3 id="word-spectrum" class="mt-6 text-xl">Word spectrum</h3>
    <p>
      For a specific contact, identify which words you are more likely to type opposed to your contact.
    </p>
    <div class="flex justify-center items-center pt-2 space-x-4">
      <img src="{% static 'img/wordspectrum.PNG' %}" alt="alt text" />
    </div>
  </div>
  
</div>